$accent-color: #488f99;
$btn-accent-hover: #b1dde2;
$primary-color: #e3e5e5;
$race-color: #ce5858;
$track-background: #5a5b5d;
$neutral-background: #888a8f;
$disabled: rgba(242, 242, 242, 0.4);
$dark-accent: #040813;

$transition-time: 0.4s ease-in-out;

$font-family: 'Montserrat', sans-serif;
