$accent-color: #488f99;
$btn-accent-hover: #b1dde2;
$primary-color: #e3e5e5;
$race-color: #b65757;
$track-background: #6c6d70;
$neutral-background: #7b7d82;

$transition-time: 0.4s ease-in-out;

$font-family: 'Montserrat', sans-serif;
