@use '../../../styles/variables' as *;

.header {
  padding: 1.5rem 5rem;
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.linksContainer {
  display: flex;
  gap: 1.05rem;

  a {
    color: $accent-color;
    font-weight: 500;
    font-size: 1.1rem;
  }
}
