@use '../../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.carsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
