@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.quiz-side__keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  max-width: 500px;
  margin-top: 15px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quiz-side__keyboard-letter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 47px;
  border-radius: 5px;

  color: aliceblue;
  background-color: rgba(104, 71, 104, 1);

  cursor: pointer;
}

.disabled {
  pointer-events: none;
  background-color: rgb(159, 161, 162);
}

.quiz-side__keyboard-letter:hover,
.quiz-side__keyboard-letter:active,
.quiz-side__keyboard-letter:focus {
  background-color: rgba(104, 71, 104, 0.7);
}

.quiz-side__keyboard-letter_active {
  background-color: rgba(104, 71, 104, 0.7);

  cursor: default;
}
