.header {
  font-size: 2.45rem;
  position: absolute;
  left: 33%;
  top: 10%;
  color: var(--color-highlight);
}

@media (max-width: 960px) {
  .header {
    display: none;
  }
}

@media (max-width: 1005px) {
  .header {
    left: 13%;
  }
}
