@import '../../css/variables.css';

.gallows-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallows-side__img {
  max-height: 450px;
}

.gallows-side__title {
  transform: rotate(-90deg) translate(-103px, -132px);
  letter-spacing: 1px;
  color: var(--color-highlight);
  display: none;
}

@media (max-width: 960px) {
  .gallows-side__title {
    display: block;
  }
}

@media (max-width: 550px) {
  .gallows-side__img {
    width: 265px;
  }

  .gallows-side__title {
    transform: rotate(-90deg) translate(-103px, -122px);
  }
}
