* {
  margin: 0;
  padding: 0;
}

.body {
  margin: auto;
  background-color: thistle;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

.game-wrapper {
  display: flex;
  gap: 20px;
  padding: 25px 30px 0;
}

.gallows-side {
  flex: 1 1 30%;
}

.gallows-side__img {
  max-height: 450px;
}

.gallows-side__title {
  font-size: 2rem;
  margin-left: 1rem;
  color: rgb(49, 42, 57);
}

.quiz-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 45%;
  gap: 33px;
}

.quiz-side__hint-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;

  font-size: 1.1rem;
}

.quiz-side__hint-description {
  font-weight: 700;
}

.quiz-side__counter-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;
}

.quiz-side__counter-numbers {
  color: rgb(137, 61, 61);
  font-weight: 700;
}

.quiz-side__word {
  display: flex;
  justify-content: center;
  gap: 6px;

  max-width: 500px;
}

.quiz-side__space-for-letter {
  width: 30px;
  height: 3px;
  background-color: black;
}

.quiz-side__keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  max-width: 500px;
  margin-top: 15px;
}

.quiz-side__keyboard-letter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 47px;
  border-radius: 5px;

  color: aliceblue;
  background-color: rgba(104, 71, 104, 1);

  cursor: pointer;
}