@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import './variables.css';

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

img {
  filter: invert(92%);
}

body {
  margin: auto;
  background-color: var(--color-background);

  font-family: var(--font-main);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: var(--color-font);

  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-wrapper {
  display: flex;
  flex: 1 0 auto;
  gap: 100px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

@media (max-width: 960px) {
  .game-wrapper {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 615px) {
  .game-wrapper {
    padding: 0 20px;
  }
}
