* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: auto;
  background-color: thistle;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.game-wrapper {
  display: flex;
  flex: 1 0 auto;
  gap: 20px;
  padding: 30px 0px;
  width: 90%;
}

.gallows-side {
  display: flex;
  flex: 1 1 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallows-side__img {
  max-height: 450px;
}

.gallows-side__title {
  font-size: 2rem;
  margin-left: 1rem;
  color: rgb(49, 42, 57);
}

.quiz-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 45%;
  gap: 33px;
}

.quiz-side__hint-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;

  font-size: 1.1rem;
  text-align: center;
}

.quiz-side__hint-description {
  font-weight: 700;
}

.quiz-side__counter-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;
}

.quiz-side__counter-numbers {
  color: rgb(137, 61, 61);
  font-weight: 700;
}

.quiz-side__word {
  display: flex;
  justify-content: center;
  gap: 6px;

  max-width: 500px;

  font-weight: 700;
}

.quiz-side__space-for-letter {
  width: 30px;
  height: 19px;
  border-bottom: 2px solid black;

  text-align: center;
}

.quiz-side__keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;

  max-width: 500px;
  margin-top: 15px;
}

.quiz-side__keyboard-letter {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 47px;
  border-radius: 5px;

  color: aliceblue;
  background-color: rgba(104, 71, 104, 1);

  cursor: pointer;

  &:disabled {
    background-color: red;
  }
}

.quiz-side__keyboard-letter:hover,
.quiz-side__keyboard-letter:active,
.quiz-side__keyboard-letter:focus {
  background-color: rgba(104, 71, 104, 0.7);
}

.quiz-side__keyboard-letter_active {
  background-color: rgba(104, 71, 104, 0.7);

  cursor: default;
}

/* Modal window */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.modal__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  padding: 55px 40px;

  overflow: auto;

  border-radius: 40px;
  background-color: aliceblue;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.modal__content-message {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal__content-btn {
  padding: 10px;
  width: 200px;

  font-size: 0.9rem;
  color: aliceblue;

  background-color: rgba(104, 71, 104, 1);
  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.modal__content-secret-word_opened {
  font-weight: 700;
  color: rgb(137, 61, 61);
  text-decoration: underline;
}

.modal__content-secret-word {
  text-align: center;
}

@media (max-width: 750px) {
  .game-wrapper {
    flex-direction: column;
    gap: 44px;

    position: static;
    top: 0%;
    left: 0%;
    transform: none;
  }

  .quiz-side {
    align-items: center;
  }

  .quiz-side__keyboard-letter {
    width: 10%;
  }

  .quiz-side__space-for-letter {
    width: 20px;
  }
}

@media (max-width: 600px) {
  .gallows-side__title {
    font-size: 1.7rem;
  }
}

@media (max-width: 415px) {
  .quiz-side__space-for-letter {
    width: 18px;
  }
}
