:root {
  --font-keyboard: 'Poppins', sans-serif;
  --font-main: 'Kalam', cursive;

  --color-background: #330933;
  --color-highlight: #f35b5b;
  --color-key-disabled: rgba(104, 71, 104, 0.7);
  --color-font: #f0f8ff;
  --color-modal-animation: #f46e6e;
}
