.raceContainer {
  border-bottom: 2px solid #ffffff;
  height: 8%;
  margin-bottom: 6px;
}

.carIcon {
  display: block;
  width: 105px;
  height: 43px;
  margin: 0;
  padding: 0;

  position: absolute;
  bottom: 0;
  left: 90px;
}

.btn-and-name-container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.selectBtn,
.removeBtn {
  background-color: #668b8c;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 1px;
  border: none;
  padding: 5px 10px;
  width: 75px;
  cursor: pointer;
  transition: all 0.4s;
}

.selectBtn:hover,
.removeBtn:hover {
  background-color: #78a7a9;
  transform: scale(1.05);
}

.carContainer {
  display: flex;
  position: relative;
  height: 53px;
}

.flagImg {
  position: absolute;
  bottom: -15px;
  right: 60px;
  height: 80px;
}
