.quiz-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 45%;
  gap: 33px;
}

.quiz-side__hint-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;

  font-size: 1.1rem;
  text-align: center;
}

.quiz-side__hint-description {
  font-weight: 700;
}

.quiz-side__counter-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;
}

.quiz-side__counter-numbers {
  color: rgb(137, 61, 61);
  font-weight: 700;
}

.quiz-side__word {
  display: flex;
  justify-content: center;
  gap: 6px;

  max-width: 500px;

  font-weight: 700;
}

.quiz-side__space-for-letter {
  width: 30px;
  height: 19px;
  border-bottom: 2px solid black;

  text-align: center;
}
