.quiz-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  gap: 33px;
}

.quiz-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}

.quiz-side__hint-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;

  font-size: 1.3rem;
  text-align: center;
}

.quiz-side__hint-description {
  font-weight: 700;
}

.quiz-side__counter-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
  max-width: 500px;
}

.quiz-side__counter-numbers {
  color: rgb(243, 91, 91);
  font-weight: 700;
  font-size: 1.1rem;
}

.quiz-side__word {
  display: flex;
  justify-content: center;
  gap: 6px;

  max-width: 500px;

  font-weight: 700;
}

.quiz-side__space-for-letter {
  font-size: 1.2rem;
  width: 25px;
  height: 25px;
  padding: 3px;

  text-align: center;
}

.bottom-line {
  border-bottom: 2px solid rgb(218, 223, 228);
}
